<html data-theme="bumblebee">
<head>
    <title>{{ app_title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
    {% include 'custom.headers' ignore missing %}
    <link href="{{ url_for('static', filename='css/tailwind.2.2.19.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/daisyui.2.6.0.css') }}" rel="stylesheet">
</head>
<body class="p-8">
<div id="content">
    <h1 class="text-2xl mb-3"><a href="/">{{ app_title }}</a></h1>
    <form method="POST" action="/" class="form pb-7">
        <div class="flex justify-left">
            <fieldset class="fieldset bg-base-200 border border-base-300 p-8 rounded-box">
                <input id="address" class="input input-sm mb-3" name="address" placeholder="Address" value="{{ address }}" autofocus><BR>
                <input class="btn btn-primary mt-4" type="submit" name="submit" value="Lookup" onclick="$('#loading').show();">
            </fieldset>
        </div>
        <div id="loading" style="display: none;"><button class="btn btn-primary loading mt-12">loading</button></div>
    </form>
    {{ page_body|safe }}
</div>
</body>
</html>
